<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Google Fonts -->
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <ul class="topnav" id="myTopnav">
  <div class="title">Stopify</div>
  <li><a onclick="myFunction()" href="#home">Home</a></li>
  <li><a onclick="myFunction()" href="#news">News</a></li>
  <li><a onclick="myFunction()" href="#contact">Contact</a></li>
  <li><a onclick="myFunction()" href="#about">About</a></li>
  <li><a onclick="myFunction()" href="#login">Log In</a></li>
  <li class="icon">
    <a class="bars" href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
  <script type="text/javascript">
  	function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
  </script>
</ul>

