<%- include /partials/header.ejs %>


<div class="mainpage-layout">
	<div class="mainpage">
		<div class="banner">
	    	<h1>Welcome to <%= title %></h1>
	    	<p>Find the music you love. Discover new tracks.</p>
			<p>Connect directly with your favorite artists.	</p>
		</div>
		<div class="latest">
			<p>Checkout the latest tracks.</p>
		</div>
    </div>
</div>

 
<%- include partials/footer.ejs %>
